Django==2.1.7
celery==4.2.1
django-authtools==1.6.0
django-celery-beat==1.1.1
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-environ==0.4.5
django-eth-events==3.2.0
django-filter==2.1.0
django-model-utils==3.1.2
django-rest-swagger==2.2.0
django-solo==1.1.3
django_google_authenticator==0.5
djangorestframework-camel-case==1.0.3
djangorestframework==3.9.1
docutils==0.14
eth-abi==1.3.0
eth-utils==1.4.1
ethereum==2.3.2
factory-boy==2.11.1
faker==1.0.2
gevent==1.4.0
gunicorn==19.9.0
ipfsapi==0.4.1
mpmath==1.0.0
psycopg2-binary==2.7.7
redis==2.10.6
web3[tester]==4.9.2