Django==2.0.8
celery==4.2.1
django-authtools==1.6.0
django-celery-beat==1.1.1
django-cors-headers==2.4.0
django-debug-toolbar==1.9.1
django-environ==0.4.5
django-eth-events==3.1.1
django-filter==1.1.0
django-model-utils==3.1.2
django-rest-swagger==2.2.0
django-solo==1.1.3
django_google_authenticator==0.5
djangorestframework-camel-case==0.2.0
djangorestframework==3.8.2
docutils==0.14
eth-abi==1.2.0
eth-utils==1.2.2
ethereum==2.3.2
factory-boy==2.11.1
faker==0.9.1
gevent==1.3.6
gunicorn==19.9.0
ipfsapi==0.4.1
mpmath==1.0.0
psycopg2-binary==2.7.5
redis==2.10.6
web3[tester]==4.7.2
