pymongo==3.4.0
jsonschema==2.6.0
bitcoin==1.1.42
djangorestframework==3.6.3
Django==1.11
django-celery==3.2.1
django-authtools==1.5.0
django-model-utils==2.6.1
django-filter==1.0.4
django-solo==1.1.2
ethereum==1.6.1
ethereum-abi-utils==0.4.0
ethereum-utils==0.2.0
factory-boy==2.5.2
psycopg2==2.7.1
celery==3.1.25
faker==0.7.15
requests[security]==2.17.3
web3[tester]==3.7.1
djangorestframework-camel-case==0.2.0
ipfsapi==0.4.1
six==1.10.0
django-rest-swagger==2.1.2
